@import "tailwindcss";

/* globals.css */

* {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

*::selection {
	background: transparent;
	color: inherit;
}

*::-moz-selection {
	background: transparent;
	color: inherit;
}

img {
	pointer-events: none;
}


.pixel-border {
	border-style: solid;
	border-width: 4px;
	border-image-slice: 2;
	border-image-width: 2;
	border-image-outset: 0;
	border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000'/></svg>");
}